form.photoForm {
    display: grid;
   }
   form.photoForm label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
   }
   form.photoForm input {
    padding: 0.75em;
    border: 0;
    border-radius: 5px;
        margin: .4rem;
    
   }
   form.photoForm input:focus {
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.49);
   }

   input[type="radio"]{
    vertical-align: baseline;
}

.site-drawer-render-in-current-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ebedf0;
    border-radius: 2px;
    padding: 48px;
    text-align: center;
    background: #fafafa;
  }